<!--header-->
<header>
    <div class="container-fluid">
        <div class="row">
            <div class="logo">
                <a href="/">
                       Dr. Sandeep Goel.
                    </a>
            </div>
            <nav>
                <ul>
                    <li><a href="walkthrought.html">Walk-Through</a></li>
                    <li><a href="competence.html">Competence</a></li>
                    <li class="dropnav"><a href="#">Publications <span><i class="fas fa-angle-down"></i></span></a>
                        <ul>
                            <li><a href="book.html">Book</a></li>
                            <li><a href="cases-teaching-notes.html">Cases
                                + Teaching Notes</a></li>
                            <li class="dropnav"><a href="#">Articles <span><i
                                        class="fas fa-angle-down"></i></span></a>
                                <ul>
                                    <li><a href="journals.html">Journals</a></li>
                                    <li><a href="newspapers.html">Newspapers</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li><a href="conference.html">Conference</a> </li>
                    <li><a href="talks.html">Talks </a> </li>
                    <li><a href="training.html">Training</a></li>
                    <li><a href="consultancy.html">Consultancy</a> </li>
                    <li><a href="blog.html">Blog</a> </li>
                    <li><a href="/#contact-us">Contact</a> </li>
                    <li><a href="pplequote.html">P’ple Quote</a> </li>
                </ul>
            </nav>
            <div id="toggle">
                <div class="one"></div>
                <div class="two"></div>
                <div class="three"></div>
            </div>
            <div class="socialmedia">
                <ul>
                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="#"><i class="fa-brands fa-linkedin-in"></i></a></li>
                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</header>