@media(max-width:1400px) {
    header nav li a {
        font-size: 13px;
    }
    .videoslider .textzon .imagesprofil {
        width: 400px;
        height: 400px;
    }
    .videoslider {
        overflow: hidden;
    }
}

@media(max-width:1350px) {
    header nav li a {
        padding: 0 0.5em;
        font-size: 14px;
    }
    .ifrom-vieos {
        height: 50vh;
    }
    .videoslider .textzon .imagesprofil {
        width: 350px;
        height: 350px;
    }
    .typingtex a.typewrite {
        font-size: 4.0rem;
    }
    .book_images img {
        width: 110px !important;
    }
    .book-box-item .book_images {
        width: 130px;
        padding: 0px 10px;
    }
    .book_text {
        padding: 10px 0px;
    }
    .book_text h4 {
        font-size: 13px;
    }
    .book_text p {
        font-size: 12px;
        line-height: 20px;
    }
    .book_text h6 {
        font-size: 11px;
        margin: 0px 0px 5px;
    }
    .blog-box .blog-text {
        height: 150px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: stretch;
    }
    .blog-box .blog-text h6 {
        font-size: 14px;
        margin: 0px 0px 0px;
        line-height: 25px;
    }
    .blog-box .blog-text p {
        font-size: 13px;
        line-height: 18px;
        margin: 0px 0px 5px;
    }
    .blog-icon {
        margin-top: 0px;
    }
    .training-list ul {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
    .training-list ul li a h5 {
        font-size: 14px;
        line-height: 22px;
    }
    .training li a p {
        font-size: 13px;
        line-height: 23px;
        margin: 0px 0px 15px;
    }
    .Consultancy-images {
        height: 250px;
    }
    .Consultancy-images h2 {
        top: 35%;
        font-size: 45px;
    }
    .Consultancy .Consultancy-list {
        padding: 20px 20px;
    }
    .Consultancy .Consultancy-list ul {
        grid-template-columns: repeat(2, minmax(0, 1fr));
        margin: 0;
        padding: 0;
    }
    .Consultancy .Consultancy-list ul li a h3 {
        font-size: 16px;
        margin: 0px 0px 10px;
        line-height: 25px;
    }
    .Consultancy .Consultancy-list ul li a p {
        font-size: 13px;
        line-height: 23px;
        margin: 0px 0px 10px;
    }
    .Consultancy {
        margin: 0 auto 0px;
    }
    .contact-us a {
        gap: 10px;
        margin-top: -50px;
    }
    .contact-text h6 {
        margin: 0px 0px 5px;
        font-size: 16px;
        line-height: 10px;
    }
    .contact-text p {
        font-size: 12px;
        line-height: 16px;
        word-wrap: break-word;
    }
    .serboxsev ul {
        margin: 0;
        grid-template-columns: repeat(5, minmax(0, 1fr));
        gap: 5px;
    }
    .serboxsev ul li a b {
        font-size: 13px;
    }
    .bookboxsec .imgox {
        width: 100%;
        height: 100%;
    }
    .bookboxsec h3 {
        font-size: 13px;
        line-height: 20px;
    }
    .bookboxsec p {
        font-size: 13px;
        line-height: 20px;
    }
    .bookboxsec {
        height: 100px;
    }
    .bookboxsec h4 {
        padding: 4px 2px;
        font-size: 10px;
        line-height: 15px;
    }
    .bookboxsec h4:after,
    .bookboxsec h4:before {
        height: 23.5px;
    }
    .bookboxsec .textaresde .blog-icon {
        display: none;
    }
}

@media(max-width:1080px) {
    #toggle {
        width: 25px;
        margin: 0px 0;
        display: inline-block;
        position: relative;
        padding: 0;
    }
    #toggle div {
        width: 100%;
        height: 2px;
        background: #044f85;
        margin: 5px auto;
        transition: all 0.3s;
        backface-visibility: hidden;
    }
    #toggle.on .one {
        transform: rotate(45deg) translate(5px, 5px);
    }
    #toggle.on .two {
        opacity: 0;
    }
    #toggle.on .three {
        transform: rotate(-45deg) translate(5px, -6px);
    }
    header nav {
        display: none;
        position: absolute;
        top: 100%;
        width: 100% !important;
        background: #373b3e;
        left: 0;
    }
    header {
        padding: 6px 15px;
    }
    header .row {
        white-space: unset;
    }
    header .logo {
        width: auto;
        height: 100%;
        margin: 0;
        padding: 0;
    }
    header ul li {
        width: 100%;
        text-align: left;
        border-bottom: 1px solid #44484b;
    }
    header nav li a {
        font-size: 14px;
        font-weight: 500;
        line-height: 40px;
        color: #fff;
    }
    header ul li:last-child {
        border-bottom: unset;
    }
    .socialmedia li a {
        font-size: 12px;
        width: 25px;
        height: 25px;
        line-height: 25px;
    }
    .socialmedia li {
        width: auto;
        border: unset;
    }
    .videoslider .textzon {
        width: calc(100% - 50px);
    }
    .ifrom-vieos {
        height: 30vh;
    }
    .videoslider .prodiletext h1 {
        font-size: 1.2rem;
    }
    .typingtex a.typewrite {
        font-size: 2.5rem;
    }
    .videoslider .prodiletext h6 {
        font-size: 1rem;
        margin: 10px 0px 0px;
    }
    .typingtex {
        margin-top: 0px;
    }
    .videoslider .prodiletext .btnzone {
        margin: 10px 0px 0px;
        gap: 10px;
    }
    .videoslider .prodiletext .btnzone a {
        padding: 10px 20px;
        font-size: 14px;
    }
    .videoslider .textzon .imagesprofil {
        width: 250px;
        height: 250px;
    }
    .aboutus p {
        font-size: 14px;
        line-height: 2;
        padding-right: 0;
    }
    .aboutus h2 {
        font-size: 1.3rem;
        margin: 10px 0px 15px;
        line-height: 35px;
    }
    .numberexpress span {
        font-size: 7rem;
        line-height: 1.3;
    }
    .numberexpress span:after {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        top: 30px;
    }
    .numberexpress h4 {
        line-height: 0px;
        font-size: 1.2rem;
    }
    footer p {
        font-size: 12px;
    }
    .aboutus .fombox {
        margin-top: 10px;
        margin-bottom: 0;
    }
    .aboutus .fombox h6 {
        font-size: 13px;
    }
    .aboutus .fombox h5 {
        font-size: 0.8rem;
        font-weight: 700;
        margin-top: 5px;
    }
    .time-line {
        padding: 10px;
    }
    .time-line ol li:before {
        width: 3px;
        left: 2px;
        height: calc(100% + 20px);
    }
    .time-line {
        padding: 10px;
    }
    .time-line ol li:after {
        top: 20px;
        left: -2px;
        width: 10px;
        height: 10px;
    }
    .contain_text_timeline_box {
        margin-left: 15px;
        padding: 10px;
        height: auto;
    }
    .contain_text_timeline_box h4 {
        font-size: 13px;
        line-height: 20px;
        margin-bottom: 10px;
    }
    .contain_text_timeline_box p {
        font-size: 12px;
        line-height: 20px;
        margin-bottom: 10px;
    }
    .contain_text_timeline_box h5 {
        font-size: 13px;
        margin: 0px 0px 5px;
    }
    .contain_text_timeline_box h6 {
        font-size: 13px;
        margin-bottom: 10px;
    }
    .reposivedestop .col-12.col-lg-3.offset-1 {
        margin-left: 0;
    }
    .row.reposivedestop {
        display: flex;
    }
    .book_images img {
        width: 110px !important;
    }
    .book_text {
        position: relative;
        margin: 0;
        padding: 10px 0px;
    }
    .book_text h4 {
        font-size: 13px;
        font-weight: 700;
    }
    .book-box-item .book_images {
        width: 100%;
        padding: 0px 10px;
    }
    .book_text p {
        font-size: 11px;
        line-height: 15px;
        letter-spacing: 0;
        margin-bottom: 10px;
    }
    .book_text h6 {
        font-size: 11px;
        line-height: 18px;
        letter-spacing: 0.3px;
        margin: 5px 0px 5px;
    }
    .rating span {
        font-size: 12px;
    }
    .heading h3 {
        font-size: 15px;
        margin: 0px 0px 10px;
    }
    .blog-box .blog-text h6 {
        font-size: 13px;
        margin: 0px 0px 10px;
        line-height: 18px;
    }
    .blog-box .blog-text p {
        font-size: 13px;
        line-height: 18px;
        margin: 0px 0px 10px;
    }
    .contactformsecion {
        padding: 20px 0px;
    }
    .contactformsecion h4 {
        padding: 10px 0px;
        font-size: 25px;
        margin-bottom: 10px;
    }
    .contactformsecion .form-group label {
        font-size: 13px;
        margin-bottom: 5px;
    }
    .contactformsecion .form-control {
        font-size: 12px;
        padding: 0px 10px;
    }
    .contactformsecion .button-section {
        margin: 0px auto;
        padding: 0px;
    }
    .contactformsecion button.btn-button {
        font-size: 16px;
        padding: 10px 80px;
    }
    .blog-box .blog-text {
        padding: 10px 10px;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: space-between;
        height: auto;
    }
    .training-list {
        margin: 0;
        padding: 0;
        width: 100%;
    }
    .training-list ul {
        grid-template-columns: repeat(2, minmax(0, 1fr));
        gap: 10px;
        margin: 0;
        padding: 0;
    }
    .training-list ul li a h5 {
        font-size: 14px;
        line-height: 22px;
    }
    .training p {
        font-size: 13px;
        line-height: 25px;
        padding: 0px;
        margin: 0px 0px 5px;
    }
    .training-list ul li:nth-child(even) {
        border-top: 2px solid #ffc107;
        border-left: 2px solid #ffc107;
    }
    .training-list ul li:nth-child(odd) {
        border-bottom: 2px solid #1aa187;
        border-left: 2px solid #1aa187;
    }
    .training-list {
        margin: 0;
        padding: 0;
        width: 100%;
    }
    span.view-button {
        display: block;
        margin-top: 20px;
        font-size: 14px;
        cursor: pointer;
    }
    .Consultancy-images {
        height: 200px;
    }
    .Consultancy-images h2 {
        top: 30%;
        font-size: 40px;
    }
    .Consultancy .Consultancy-list ul {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        gap: 10px;
        margin: 0;
        padding: 0;
    }
    .Consultancy .Consultancy-list {
        margin: 0px auto 0px;
        padding: 20px 10px;
    }
    .Consultancy .Consultancy-list ul li a {
        padding: 0px 0px 0px 15px;
        width: 100%;
    }
    .Consultancy .Consultancy-list ul li a h3 {
        font-size: 15px;
        margin: 0px 0px 10px;
        line-height: 25px;
    }
    .Consultancy .Consultancy-list ul li a p {
        font-size: 13px;
        line-height: 23px;
        padding: 0px;
        margin: 0px 0px 10px;
    }
    .Consultancy .Consultancy-list ul li a span {
        margin: 0px 0px 0px;
        padding: 5px 40px;
        font-size: 16px;
    }
    .Consultancy {
        margin: 0 auto 0px;
    }
    .mapouter {
        height: 20vh;
    }
    .contact-us a {
        border-radius: 5px;
        padding: 10px;
        gap: 10px;
        margin-top: -40px;
        display: flex;
        flex-direction: column;
    }
    .walkthroughsec.testimonials .walkthrough-list a b {
        font-size: 12px;
        margin-bottom: 5px;
        line-height: 19px;
    }
    .through-list h3 {
        font-size: 13px;
        font-weight: 900;
    }
    .titleheading h3 span a {
        font-size: 12px;
        letter-spacing: 0.3px;
        padding: 8px 15px;
    }
    .tesache {
        height: 180px;
        padding: 13px;
    }
    .tesache b {
        font-size: 13px;
    }
    .listing span {
        font-size: 12px;
        line-height: 20px;
    }
    .training h3 {
        font-size: 16px;
        font-weight: 900;
    }
    .book-box-item {
        flex-wrap: wrap;
        justify-content: center;
        height: 380px;
    }
    .blog-icon .likeicone {
        font-size: 11px;
    }
    .blog-icon .date {
        font-size: 13px;
    }
    .training-list ul li a h5,
    .listsewdtion h5 {
        font-size: 11px;
        font-weight: 600;
        line-height: 16px;
        margin: -2px 0px 10px;
    }
    .Consultancybox-list a h3 {
        font-size: 12px;
        margin: 0px 0px 11px;
        line-height: 20px;
    }
    .Consultancybox-list a p {
        font-size: 12px;
        line-height: 18px;
    }
    .Consultancybox-list {
        height: 250px;
    }
    .book-box-item .book_text {
        padding: 10px;
    }
    .talks .talks.text.list ul {
        padding: 0px;
        margin: 0px;
    }
    .walkthroughsec.testimonials .walkthrough-list {
        padding: 10px;
        height: 130px;
    }
    header ul .dropnav ul,
    header ul li:hover>ul,
    header ul li>ul li:hover>ul {
        display: none;
    }
    header ul li.dropnav.active>ul {
        display: inline-block;
        top: 0;
        left: 0;
        width: 100%;
        position: relative;
        background: unset;
        border: unset;
        margin: 0;
        padding: 0;
    }
    header ul li:hover>ul li a {
        border-bottom: unset;
        color: #fff;
    }
    .owl-nav {
        display: none !important;
    }
    .seconmainpages {
        padding: 20px !important;
    }
    .training-list.seconmainpages h5 {
        font-size: 12px;
        line-height: 20px;
        margin-bottom: 10px;
    }
    .Consultancy .Consultancy-list ul li a h3,
    .Consultancy .Consultancy-list ul li h3 {
        font-size: 14px;
        line-height: 20px;
    }
    .Consultancy .Consultancy-list ul li a p,
    .Consultancy .Consultancy-list ul li p {
        font-size: 12px;
        line-height: 20px;
        margin: 0px 0px 10px;
    }
    .Consultancy .Consultancy-list ul li a,
    .Consultancy .Consultancy-list ul li {
        margin: 0px 0px 20px;
    }
    .latpost-section .latpost-text h3 {
        font-size: 15px;
        line-height: 20px;
        margin-bottom: 10px;
    }
    .latpost-section .latpost-text p {
        font-size: 12px;
        line-height: 20px;
    }
    .serboxsev ul {
        margin: 0;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        gap: 5px;
    }
    .serboxsev ul li a b {
        font-size: 13px;
    }
    .bookboxsec .imgox {
        width: 100%;
        height: 100%;
    }
    .bookboxsec h3 {
        font-size: 13px;
        line-height: 20px;
    }
    .bookboxsec p {
        font-size: 13px;
        line-height: 20px;
    }
    .bookboxsec {
        height: 100px;
    }
    .bookboxsec h4 {
        padding: 4px 2px;
        font-size: 10px;
        line-height: 15px;
    }
    .bookboxsec h4:after,
    .bookboxsec h4:before {
        height: 23.5px;
    }
    .bookboxsec .textaresde .blog-icon {
        display: none;
    }
    .walnesecboxare .white-space-box ul {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    .walnesecboxare .white-space-box ul li {
        border-radius: 15px;
        padding: 25px;
    }
}

@media(max-width:767px) {
    .videoslider .textzon {
        width: calc(100% - 20px);
        padding: 20px 0px;
        height: unset;
    }
    .videoslider .textzon .divider {
        display: flex;
        white-space: nowrap;
        flex-direction: column-reverse;
        flex-wrap: nowrap;
    }
    .videoslider .prodiletext h1 {
        font-size: 1.1rem;
        text-align: center;
        margin-bottom: 0;
    }
    .ifrom-vieos {
        width: 100%;
        height: 56vh;
        display: inline-block;
        position: relative;
    }
    .videoslider .textzon .imagesprofil {
        border: 3px solid #fff;
        width: 200px;
        height: 200px;
    }
    .videoslider .textzon .imagesprofil {
        margin-bottom: 17px;
    }
    .typingtex a.typewrite {
        font-size: 2.0rem;
        margin: 5px auto 0px;
        display: block;
        text-align: center;
    }
    .videoslider .prodiletext h6 {
        font-size: 1rem;
        margin: 0px 0px 10px;
        text-align: center;
    }
    .videoslider .prodiletext .btnzone {
        margin: 20px 0px 0px;
        gap: 10px;
    }
    .videoslider .prodiletext .btnzone a {
        padding: 10px 30px;
        font-size: 12px;
        letter-spacing: 0.5px;
    }
    .aboutus {
        padding: 0px 0px;
        width: 100%;
    }
    .aboutus h6 {
        padding: 5px 20px;
        font-size: 14px;
        margin-top: 0;
    }
    .aboutus h5 {
        margin: 20px 0px 10px;
        font-size: 25px;
    }
    .aboutus h2 {
        font-size: 1.2rem;
        margin: 0px 0px 10px;
        font-weight: 400;
        line-height: 26px;
    }
    .aboutus p {
        font-size: 0.8rem;
        line-height: 2;
        text-align: justify;
        padding-right: 0;
    }
    .numberexpress span {
        font-size: 7rem;
        font-weight: 700;
        line-height: 1;
    }
    .numberexpress span:after {
        width: 80px;
        height: 80px;
        top: 38px;
        left: -3px;
    }
    .numberexpress {
        text-align: center;
        width: 100%;
        margin: 10px 0px;
    }
    .numberexpress h4 {
        line-height: 30px;
        font-size: 1.2rem;
        text-align: center;
        margin-top: 0px;
    }
    .aboutus .fombox {
        margin-top: 10px;
        margin-bottom: 0;
    }
    .contain_text_timeline_box {
        margin-left: 15px;
        padding: 10px;
        height: 100%;
    }
    .training-list ul {
        grid-template-columns: repeat(1, minmax(0, 1fr));
        margin: 0;
        padding: 0;
    }
    .training-list {
        position: relative;
        margin: 0;
        padding: 0;
    }
    .training-list ul li {
        text-align: left;
    }
    .training-list ul li a h5 {
        font-size: 14px;
        line-height: 23px;
    }
    .training p {
        font-size: 13px;
        line-height: 25px;
    }
    .Consultancy-images {
        height: 200px;
    }
    .Consultancy-images h2 {
        top: 30%;
        font-size: 30px;
        font-weight: 600;
    }
    .Consultancy .Consultancy-list {
        padding: 20px 10px;
        width: 100%;
    }
    .Consultancy .Consultancy-list ul {
        grid-template-columns: repeat(1, minmax(0, 1fr));
        gap: 10px;
        margin: 0;
        padding: 0;
    }
    .Consultancy .Consultancy-list li {
        border-left: 2px solid #ccc;
    }
    .Consultancy .Consultancy-list ul li a {
        padding: 0px 0px 0px 15px;
    }
    .Consultancy .Consultancy-list ul li a h3 {
        font-size: 15px;
        margin: 0px 0px 15px;
        line-height: 22px;
    }
    .Consultancy .Consultancy-list ul li a p {
        font-size: 13px;
        line-height: 25px;
        padding: 0px;
        margin: 0px 0px 10px;
    }
    .Consultancy .Consultancy-list ul li a span {
        margin: 5px 0px 0px;
        padding: 5px 50px;
        border-radius: 20px;
        font-size: 14px;
    }
    .Consultancy {
        margin: 0 auto 0px;
    }
    .mapouter {
        height: 40vh;
        margin-bottom: 30px;
    }
    .contact-us a {
        margin: 0px 0px 10px;
        padding: 15px;
        gap: 10px;
        margin-top: 0;
        display: flex;
        flex-direction: row;
    }
    .white-space-box .col-12.col-lg-3.offset-1 {
        padding-left: 0;
        margin-left: 15px;
    }
    .book-box-item {
        margin: 10px 0px;
        gap: 5px;
        flex-direction: column;
        justify-content: flex-start;
    }
    .book-box-item .book_images {
        width: 100%;
        padding: 0px 0px;
        display: inline-block;
    }
    .book_text {
        text-align: left;
        padding: 0px 10px 10px;
        margin: 0;
    }
    .book_text h4 {
        font-size: 13px;
        margin-top: 10px;
    }
    .book_text p {
        font-size: 12px;
        line-height: 20px;
        letter-spacing: 0.3px;
        margin-bottom: 10px;
    }
    .book_text h6 {
        font-size: 11px;
        line-height: 19px;
        margin: 0px 0px 5px;
    }
    .rating span {
        color: #f5df4e;
        font-size: 12px;
    }
    .aboutus .white-space-box {
        padding: 30px 15px;
    }
    .aboutus h2 span:after {
        width: 80px;
    }
    .row.reposivedestop {
        display: grid;
        grid-template-columns: repeat(1, minmax(0, 1fr));
        gap: 0px;
    }
    .experience .owl-dots button.owl-dot,
    .testimonials .owl-dots button.owl-dot {
        transition: 0.5s all linear;
        width: 7px;
        height: 7px;
        margin-right: 3px !important;
    }
    .through-list h3 {
        font-size: 16px;
        font-weight: 900;
    }
    .titleheading h3 span a {
        font-size: 13px;
        letter-spacing: 0.3px;
        font-weight: 900;
        padding: 8px 15px;
    }
    .walkthroughsec.testimonials .walkthrough-list {
        margin: 15px 0px 0px;
    }
    .walkthroughsec.testimonials .walkthrough-list a b {
        font-size: 14px;
        line-height: 24px;
    }
    .tesache {
        margin: 10px 0px 0px;
        height: 200px;
    }
    .listing span {
        font-size: 14px;
    }
    .training h3 {
        font-size: 16px;
        font-weight: 900;
        letter-spacing: 0.3px;
    }
    .blog-icon .likeicone {
        font-size: 13px;
        font-weight: 500;
    }
    .blog-icon .date {
        font-size: 13px;
        font-weight: 500;
    }
    .blog-img img {
        height: 150px;
    }
    .listsewdtion {
        margin: 10px 0px;
    }
    .training-list ul li a h5,
    .listsewdtion h5 {
        font-size: 14px;
        margin: 0px;
    }
    .Consultancybox-list a h3 {
        font-size: 16px;
        margin: 0px 0px 10px;
    }
    .Consultancybox-list a p {
        font-size: 13px;
    }
    .Consultancybox-list {
        height: 280px;
    }
    .walkthroughsec.testimonials .walkthrough-list {
        padding: 10px;
        height: 160px;
    }
    .tesache {
        height: 200px;
        padding: 13px;
    }
    .through-list ul {
        grid-template-columns: repeat(1, minmax(0, 1fr));
        gap: 15px;
    }
    .bannertitle h1 {
        font-size: 30px;
        line-height: 30px;
        margin-bottom: 10px;
    }
    .through-list ul li {
        padding: 14px;
    }
    .through-list ul li a {
        line-height: 20px;
        font-size: 12px;
    }
    .through-list ul li a b {
        margin: 0px 0px 5px;
        font-size: 14px;
    }
    .through-list ul li:before {
        content: '';
        top: -20px;
        left: -20px;
        width: 100px;
        height: 100px;
    }
    .through-list ul li:after {
        right: -10px;
        font-size: 90px;
        line-height: 90px;
        bottom: -30px;
    }
    .competences p {
        font-size: 12px;
        gap: 10px;
        line-height: 20px;
    }
    .competences li b {
        margin-bottom: 5px;
        font-size: 14px;
    }
    .through-list ul li:hover:after {
        color: #272727;
        transform: scale(1.1);
    }
    .serboxsev ul {
        grid-template-columns: repeat(2, minmax(0, 1fr));
        gap: 5px;
    }
    .serboxsev ul li a b {
        font-size: 13px;
        font-weight: 600;
        line-height: 20px;
        width: 100%;
        display: inline-block;
        position: relative;
        top: -5px;
    }
    .serboxsev ul li:hover a span {
        bottom: 2px;
    }
    .bookboxsec .row {
        flex-direction: row;
    }
    .bookboxsec .col-sm-4 {
        width: 33.33333333%;
    }
    .bookboxsec .col-sm-8 {
        width: 66.66666667%;
    }
    .bookboxsec {
        height: 100px;
    }
    .bookboxsec .imgox {
        width: 100%;
        height: 100%;
    }
    .bookboxsec h3 {
        font-size: 12px;
        line-height: 15px;
    }
    .bookboxsec p {
        font-size: 12px;
        line-height: 20px;
    }
    .bookboxsec h4 {
        bottom: 10px;
        left: 12px;
        padding: 4px 0px;
        font-size: 9px;
        line-height: 17px;
    }
    .bookboxsec:hover h4 {
        left: 24px;
    }
    .bookboxsec h4:after,
    .bookboxsec h4:before {
        width: 10px;
    }
    .bookboxsec h4:before {
        left: -9px;
    }
    .bookboxsec h4:after {
        right: -9px;
    }
    .bookboxsec .blog-icon {
        margin-top: 0px;
        display: none;
    }
    .walnesecboxare .white-space-box ul {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
    .walnesecboxare .white-space-box ul li {
        border-radius: 10x;
        padding: 25px;
        -webkit-border-radius: 10x;
        -moz-border-radius: 10x;
        -ms-border-radius: 10x;
        -o-border-radius: 10x;
    }
    .walnesecboxare .white-space-box ul li b {
        font-size: 14px;
        line-height: 25px;
        margin-bottom: 15px;
    }
    .walnesecboxare .white-space-box li p {
        height: auto;
        overflow: unset;
    }
    .talks {
        margin: 20px 0px 0px;
    }
    .talks .time-line .col-md-4 {
        width: 100%;
        max-width: 100%;
    }
}